<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>
<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		You've found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		<p>
</div>
<div class="row-fluid">
  <div class="span4" style="background-color:lightgray">what about this?</div>
  <div class="span4">what about this?</div>
  <div class="span4" style="background-color:lightgray">what about this?</div>
</div>
<div class="row-fluid">
 		<div class="span12" style="background-color:lightgray">And that?</div>
</div>
<div class="row-fluid">
  <div class="span6">And the other thing?</div>
  <div class="span6">And the other thing?</div>
</div>
<% end %>